 <div class="user-details">
  <h1> Descripción </h1>
  <p> {{site.user_description}} </p><br>
  <h1>Conocimientos</h1>
</div>
  <div class="user">
      <div class="tech">
      <h2>Programación</h2>
      <img src="/assets/img/css.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/html.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="assets/img/php.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>Desde hace mas de dos años tengo cierto nivel alto en html y css para páginas web y también tengo conocimiento sobre php. Esto sigue en crecimiento ya que me enfoco más en el hacking</p>
    </div>
    <div class="tech">
      <h2>Hacking</h2>
      <img src="/assets/img/python.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/bash.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/cplus.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>En el mundo del Hacking Ético me incorporé desde que era pequeño y adquirí ciertos conocimientos en python pero donde más me desembuelvo es en bash</p>
    </div>
    <div class="tech">
      <h2>Sistemas</h2>
      <img src="/assets/img/windows.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/linux.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/apple.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>En estos años hubo un tiempo, sobre todo en el comienzo, que me dio por investigar sobre como funcionaba linux a día de hoy es mi sistema operativo preferido</p>
    </div>
</div>
