 <div class="user-details">
  <h1> Descripción </h1>
  <p> {{site.user_description}} </p><br>
  <h1>Conocimientos</h1>
</div>
  <div class="user">
      <div class="tech">
      <h2>Programación</h2>
      <img src="/assets/img/css.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/html.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="assets/img/php.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Hacking</h2>
      <img src="/assets/img/python.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/bash.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/cplus.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Sistemas</h2>
      <img src="/assets/img/windows.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/linux.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <img src="/assets/img/apple.svg" width="80px" height="80px" style="filter: brightness(1.1); mix-blend-mode: multiply; margin-bottom: auto;">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
