<div class="user-details">
  <h1> Artículos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/blogweb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mi Blog </h3>
    <p>Diseñé esta página de forma estética pero tengo un blog donde subo artículos de ciberseguridad en los cuales ofrezco conocimientos que aprendí a lo largo del tiempo que llevo en el campo, y puedo confirmar que son muy interesántes. Actualmente dandole soporte y cada semana se va añadiendo un artículo</p>
    <a class="project-link" href="https://thespartoos-blog.github.io/" target="_blank">Ir a la página</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/github.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mis proyectos en Github </h3>
    <p>Para mejorar mi nivel en programación empecé por crear mis propias herramientas, con proyectos no algo complejos pero para empezar eran muy ingeniosos a mi parecer. Comenzé desde herramientas realizadas en bash de como matar procesos del mismo sistema hasta hacer un bruteforce en python. Mi programa con mas fama relacionado con el Hacking Wifi, actualmente se encuentra en github</p>
    <a class="project-link" href="https://github.com/thespartoos" target="_blank">Ir al proyecto</a>
  </div>
</div>
